.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  min-height: 90vh;
  gap: 20px;
}

.sidebar {
  width: 30%;
  background: blue;
  padding: 20px;
}

.content {
  margin: auto;
  width: 80%;
}