<p-dialog header="What is a Frontend Developer?" [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' , height: '50rem' }" (onHide)="closeDialog()">
  <div class="content">
    <p class="mb-2">A frontend developer is a professional who uses HTML, CSS,
      and JavaScript
      to design and build the visual and interactive elements of websites and
      applications that users engage with directly. They ensure the interface is
      responsive, accessible, and visually appealing. Every feature you see and
      interact with on a website (like buttons, menus, and animations) is
      created by a frontend developer.</p>

    <h3>What is the role of a Frontend Developer?</h3>
    <p class="mb-2">While this is not a complete frontend developer job
      description, the
      following can be considered as a great introduction to the role of a
      frontend developer: you'll be responsible for creating the user interface
      of a website to ensure it looks good and is easy to use, with great focus
      on design principles and user experience. You'll be working closely with
      designers, back-end developers, and project managers to make sure the
      final product meets the client's needs and provides the best possible
      experience for the end-users.</p>
    <h3>Which languages are used for Frontend Development?</h3>
    <p class="mb-2">The easy part about the frontend development role is that
      there aren’t that many options to choose from when it comes to <a
        href="#">frontend
        languages</a> and <a href>technologies</a> (unlike with backend
      development)..</p>

    <p class="mb-2">As a frontend developer, you’ll be working with the
      following technologies:</p>
    <ul class="list-disc pl-6 text-gray-700 mb-2">
      <li><strong>HTML:</strong>The markup language used to create the skeleton
        of the page. All
        the information you want to show on a webpage will be laid out through
        HTML.</li>
      <li><strong>CSS:</strong>The Cascading Style Sheet language allows you to
        adjust the way in which the HTML elements are rendered, improving the
        visuals of your webpage.</li>
      <li><strong>JavaScript:</strong>This is the de facto programming language
        for frontend development, and it allows you to add dynamism to your
        websites/web apps. There is an alternative known as TypeScript, which is
        a strongly typed superset of JavaScript that you can use instead.
        However, in that scenario, you’d have to set up a transpiler to
        translate your code into JavaScript before being able to run it in the
        browser.</li>
    </ul>

    <h3 class="mt-2">What skills are required for a Frontend developer?</h3>
    <p>The main skills required to become a frontend developer are HTML, CSS,
      and JavaScript. The rest are also important, but without those three basic
      ones, you can’t apply any of the others.
      The full list of frontend developer skills you should look into if you’re
      hoping to up your game is the following:</p>

    <ol>
      <li><strong>Understanding the core technologies:</strong> HTML, CSS &
        JavaScript.</li>
      <li><strong>Understanding accessibility:</strong> Knowing how it can
        affect your users' experience.</li>
      <li><strong>Version control systems:</strong> Be familiar with tools like
        Git.</li>
      <li><strong>Responsive design:</strong> Implementing designs that adapt to
        different devices and screen sizes.</li>
      <li><strong>User experience (UX):</strong> Understanding the basics of
        UX principles.</li>
      <li><strong>SEO:</strong> Knowing how search engine optimization works
        and how you can leverage it in your code.</li>
      <li><strong>RESTful APIs:</strong> Understanding the basics of RESTful
        APIs and how to consume them.</li>
      <li><strong>Testing and debugging:</strong> Implementing testing
        practices and debugging effectively.</li>
      <li><strong>Dev tools:</strong> Master the browser’s developer tools for
        inspecting, debugging, and optimizing code.</li>
      <li><strong>Frameworks:</strong> Having a go-to frontend framework (like
        React or Vue) and understanding others at a high level.</li>
      <li><strong>Web performance:</strong> Understanding web performance
        optimizations and core web vitals.</li>
      <li><strong>TypeScript:</strong> Understanding how TypeScript works and
        when to use it.</li>
    </ol>

    <p class="mt-2">Covering these basic skills will prepare you for any type
      of <a href>frontend developer interview questions</a> you might
      encounter in the
      future and will enhance your current role.</p>
  </div>
</p-dialog>
