.footer {
  background: #0b4c8a;
  color: white;
  padding: 2.5rem 1rem;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 68.75rem;
  margin: 0 auto;
  text-align: center;
}

.footer__about,
.footer__links,
.footer__social {
  flex: 1;
  min-width: 15rem;
  margin-bottom: 1.5rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer__description {
  font-size: 1rem;
  color: #ddd;
}

.footer__links h4,
.footer__social h4 {
  margin-bottom: 0.75rem;
}

.footer__links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.footer__links ul li {
  margin-bottom: 0.5rem;
}

.footer__links ul li a {
  text-decoration: none;
  color: #ddd;
  transition: color 0.3s;
}

.footer__links ul li a:hover {
  color: #ffdd57;
}

.footer__social a {
  font-size: 1.5rem;
  color: white;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.footer__social a:hover {
  color: #ffdd57;
}

.footer__bottom {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}
