<section class="hero">
  <div class="description-card">
    <h1 class="hero__title">Career Crafters</h1>
    <p class="hero__subtitle">Discover Your Path, Shape Your Future</p>
    <div class="decorative-line"></div>
  </div>
</section>
<section class="hint">
  <div class="hint__text">
    <h2 class="hint__heading">Feeling Lost in Career Choices? You're Not
      Alone!</h2>
    <p class="hint__description">
      Choosing the right career can feel like a challenge with so many options
      out there. One minute, you might feel drawn to creativity,
      and the next, you're thinking about something more analytical. The good
      news? Finding your path doesn’t have to be stressful!
      By focusing on your strengths, passions, and real-life experiences,
      you can make a confident decision that truly suits you. Let’s simplify
      this journey together!
    </p>
  </div>
  <img class="hint__image"
    src="assets/images/20943960.jpg"
    alt="Career Guidance Image">
</section>
<section class="ThirdEyeTeam">
  <div class="team-member">
    <div class="team-text">
      <h2 class="team-heading">Third Eye Team</h2>
      <p class="team-description">
        We are a team of dedicated professionals on a mission to simplify career
        decision-making. Our platform is designed to help you find the right
        career path and solve the confusion often faced when choosing a field.

        With our intelligent tools and thoughtful guidance, we provide clear
        insights to empower you to explore the best opportunities and make
        informed decisions.
        <br>
        <strong style="color: brown;">Let us be your third eye in a world full
          of endless choices!</strong>
      </p>
      <button class="btn sign"><a class="nav-link"
          (click)="signUp()">SignUp</a></button>
    </div>
    <img class="team-img"
      src="assets/images/photo_2025-03-10_02-57-01.jpg"
      alt="Team Member Image">
  </div>
  <div>
    <div class="statement">
      <h1>Why Choosing Us ?</h1>
      <div class="decorative-line"></div>
    </div>
    <div class="mission-vision-container">
      <div class="mission-vision-box">
        <h2 class="team-heading">Our Mission</h2>
        <p class="team-description">
          Our mission is to guide you through the maze of career decisions. We
          use
          a blend of data-driven insights and personal experience to ensure that
          you feel confident in your career path. <br>
          Join us today and get personalized career advice that truly makes a
          difference!
        </p>
      </div>
      <div class="mission-vision-box">
        <h2 class="team-heading">Our Vision</h2>
        <p class="team-description">
          "Our vision is to empower individuals to discover, pursue, and excel
          in
          their ideal career paths by providing personalized guidance,
          comprehensive resources, and actionable insights. We aim to be the
          ultimate platform that bridges the gap between potential and
          opportunity,
          helping users build fulfilling and successful professional lives."
        </p>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__container">
    <div class="footer__social">
      <h4>Follow Us</h4>
      <a href="#" aria-label="Facebook"><img width="30"
          src="assets/images/icons8-facebook.svg" alt="Facebook"></a>
      <a href="#" aria-label="Twitter"><img width="30"
          src="assets/images/icons8-instagram.svg" alt="Instagram"></a>
      <a href="#" aria-label="LinkedIn"><img width="30"
          src="assets/images/icons8-linkedin.svg" alt="LinkedIn"></a>
    </div>
  </div>
  <div class="footer__bottom">
    <p>&copy; 2025 Third Eye. All rights reserved.</p>
  </div>
</footer>

<ng-container>
  <sign-up [visible]="visible"></sign-up>
</ng-container>
