/* Navigation */

.nav {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(129, 129, 129, 0.28);
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px #bec9d4;
  z-index: 1000;
}

.nav__link {
  text-decoration: none;
  color: #240404;
  padding: 0.625rem 1.25rem;
  margin: 0 0.625rem;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}



.button {
  padding: 1px;
  margin: 2px;
  border-radius: 11px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 19%);
  width: 100px;
  transition: background-color 0.3s ease;
}

.sign {
  background-color: #3c8fffe6;
}

.sign:hover {
  background-color: #fff;
  border: 1px solid #3c8fffe6;
  transition: 0.5s;
}

.sign a {
  color: #fff;
}

.sign a:hover {
  color: #3c8fffe6;
}

.login {
  border: 1px solid #3c8fffe6;
}

.login:hover {
  background-color: #3c8fffe6;
  transition: 0.5s;
}

.login a {
  color: #3c8fffe6;

}

.login a:hover {
  color: #fff;

}

.home {
  background-color: #eee;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 19%);
  transition: 0.5s;
}

.home:hover {
  background-color: #aaaaaa;
  transform: scale(1.08);
}

.footer {
  background: #0b4c8a;
  color: white;
  padding: 2.5rem 1rem;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 68.75rem;
  margin: 0 auto;
  text-align: center;
}

.footer__about,
.footer__links,
.footer__social {
  flex: 1;
  min-width: 15rem;
  margin-bottom: 1.5rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer__description {
  font-size: 1rem;
  color: #ddd;
}

.footer__links h4,
.footer__social h4 {
  margin-bottom: 0.75rem;
}

.footer__links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.footer__links ul li {
  margin-bottom: 0.5rem;
}

.footer__links ul li a {
  text-decoration: none;
  color: #ddd;
  transition: color 0.3s;
}

.footer__links ul li a:hover {
  color: #ffdd57;
}

.footer__social a {
  font-size: 1.5rem;
  color: white;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.footer__social a:hover {
  color: #ffdd57;
}

.footer__bottom {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}
