<p-dialog
  header="HTML Introduction"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  (onHide)="closeDialog()">
  <div class="content">
    <p class="mb-2">HTML (Hypertext Markup Language) is the standard markup
      language used to create web pages and web applications. It provides a
      structure for content on the World Wide Web, using a system of elements
      and attributes to define the layout and content of a document. HTML
      elements are represented by tags, which browsers interpret to render the
      visual and auditory elements of a web page. The language has evolved
      through several versions, with HTML5 being the current standard,
      introducing semantic elements, improved multimedia support, and enhanced
      form controls. HTML works in conjunction with CSS for styling and
      JavaScript for interactivity, forming the foundation of modern web
      development.

      <br> <br>Visit the following resources to learn more</p>
    <ul class="list-disc pl-6 text-gray-700 mb-2">
      <li><strong>Free Resources</strong>
        <ul>
          <li><strong>Course : </strong><a
              href="https://www.freecodecamp.org/learn/2022/responsive-web-design/"
              target="_blank">Responsive
              Web Design Certification - Co-Learn HTML & CSS with guided
              projects</a></li>
          <li><strong>Article :
            </strong> <a
              href="https://www.w3schools.com/html/html_intro.asp"
              target="_blank">W3Schools:
              Learn HTML</a></li>
          <li><strong>Video :
            </strong> <a
              href="https://www.youtube.com/watch?v=pQN-pnXPaVg"
              target="_blank">HTML Full
              Course for Beginners</a></li>
          <li><strong>Video :
            </strong> <a
              href="https://www.youtube.com/watch?v=mJgBOIoGihA"
              target="_blank">HTML Full
              Course - Build a Website Tutorial</a></li>
          <li><strong>Feed :
            </strong> <a
              href="https://app.daily.dev/tags/html?ref=roadmapsh"
              target="_blank">Explore top
              posts about HTML</a></li>
        </ul>
      </li>
      <li><strong>Premium Resources</strong>
        <ul>
          <li><strong>Course : </strong><a
              href="https://scrimba.com/the-frontend-developer-career-path-c0j"
              target="_blank">Scrimba
              - Frontend Developer Career Path</a></li>
          <li><strong>Course :
            </strong> <a
              href="https://scrimba.com/learn-responsive-web-design-c029"
              target="_blank">Scrimba
              -
              Learn Responsive Web Design</a></li>
          <li><strong>Course :
            </strong> <a
              href="https://scrimba.com/from-figma-to-code-c02f"
              target="_blank">Scrimba - From
              Figma to Code</a></li>
          <li><strong>Course :
            </strong> <a
              href="https://scrimba.com/learn-ui-design-c024"
              target="_blank">Scrima - Learn
              UI Design</a></li>
        </ul>
      </li>
    </ul>

    <hr>
  </div>
</p-dialog>
