<div class="path-header">
  <h2>{{title}}</h2>
  <div class="controls d-flex align-items-center justify-content-between">
    <div class="search-box">
      <label style="width: 100px;" for="filter">Filter by:</label>
      <select id="filter" class="form-select" [(ngModel)]="selectedFilter"
        (change)="onFilterChange($event)">
        <option *ngFor="let option of filterOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>

    </div>
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery"
        (input)="onSearchChange(searchQuery)">
    </div>
  </div>
</div>
